<% var today = new Date(); %>
<div class="col-md-12 events">
  <h1>Events</h1>
  <hr>
  <% if(data.events) { %>
  <%
    for(var i = 0; i < data.events.length; i++) {
      var eDate = data.events[i].title.match(/\[(.*?)\]/);
      var eDateSplit = eDate[1].split('&#x2F;');
      var date = new Date(parseInt("20" + eDateSplit[2]), parseInt(eDateSplit[0])-1, parseInt(eDateSplit[1]));
      var year = date.getFullYear();
      if(date == today) {
  %>
  <a class="col-md-2 event btn today" href="<%- data.events[i].link %>">
    <p class="date">TODAY!</p>
    <p class="title"><%= data.events[i].title.replace(/\[(.*?)\]/, "") %></p>
  </a>
  <% } else if(date > today) {%>
  <a class="col-md-2 event btn" href="<%- data.events[i].link %>">
    <p class="date"><%= date.toDateString() %></p>
    <p class="title"><%= data.events[i].title.replace(/\[(.*?)\]/, "") %></p>
  </a>
  <% } %>
  <% } %>
  <% } %>
</div>