<% var today = new Date(); %>
<div class="col-md-12 events">
  <h1>Events</h1>
  <hr>
  <% if(data.events) { %>
  <%
    for(var i = 0; i < data.events.length; i++) {
      var date = new Date(data.events[i].date);
      if(date == today) {
  %>
  <a class="col-md-2 event btn today" href="<%- data.events[i].link %>">
    <p class="date">TODAY!</p>
    <p class="title"><%= data.events[i].title.replace(/\[(.*?)\]/, "") %></p>
  </a>
  <% } else if(date > today) { %>
  <a class="col-md-2 event btn" href="<%- data.events[i].link %>">
    <p class="date"><%= date.toDateString() %></p>
    <p class="title"><%= data.events[i].title.replace(/\[(.*?)\]/, "") %></p>
  </a>
  <% } %>
  <% } %>
  <% } %>
</div>