
<div id="jumbo" class="jumbotron text-center"></div>
<%- include components/sidebar.ejs %>
<div class="col-md-9 content">
  <div class="col-md-12 artical">
    <h2><a href="<%- data.news[0].link %>"><%- data.news[0].feed.name %></a><small> <%- data.news[0].author %></small></h2>
    <%- data.news[0].content %>
    <hr>
    <h6><%- data.news[0].published %></h6>
  </div>
</div> 