<div class="col-md-3 sidebar">
  <div class="row">
    <div class="col-md-12">
       <button class="btn btn-primary btn-block discord text-primary">Join Discord Server</button>
    </div>
    <div class="col-md-12 discord-header">
      <h4 class="text-center text-primary">Discord Server</h4>
      <p class="text-center text-complimentary"><%- data.discord.members.length %> Users Online</p>
    </div>
    <% for(var i = 0; i < data.discord.channels.length; i++) { %>
    <% var channel = data.discord.channels[i]; %>
    <div class="col-md-12 text-white channel">
      <%- channel.name %>
      <div class="row">
        <% for(var j = 0; j < data.discord.members.length; j++) { %>
        <% var member = data.discord.members[j]; %>
        <% if(member.channel_id == channel.id) { %>
        <div class="col-md-11 col-md-offset-1 member">
          <img class="img-circle" width="15rem" src="<%- member.avatar_url %>" /><%- member.username %>
        </div>
        <% } %>
        <% } %>
      </div>
    </div>
    <% } %>
  </div>
</div>
<div class="col-md-9 articals">
 <div class="row">
    <% if(data.forum) { %>
    <% for(var i = 0; i < data.news.length; i++) { %>
    <% if(data.news[i]) { %>
    <div class="col-md-12 artical">
      <h2><a href="<%- data.news[i].link %>"><%- data.news[i].title %></a><small> <%- data.news[i].author %></small></h2>
      <%- data.news[i].content %>
      <footer><%- data.news[i].published %></footer>
    </div>
    <% if(i+1 < data.news.length) { %>
    <div class="col-md-12"><hr></div>
    <% } %>
    <% } %>
    <% } %>
    <% } else { %>
    <div class="col-md-12 artical">
        <h2><a>&gt;.&lt;</a></h2>
        <h3>Looks like the Forums are down again... Please report this to KooTheGreat on discord. He will get it back up as soon as possible.</h3>
    </div>
    <% } %>
  </div>
</div>
